.btn-submit {
    padding: 10px 16px;
    font-weight: 900;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 5px;
    color: white;
    background-color: #BC2525;
    width: 400px;
    height: 80px;
    font-size:x-large;

}
.submit-text{
    display: block;
    box-sizing: border-box;
    padding: 7px 1em;
    letter-spacing: 1px;
    color: #333;
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    outline: none;
}

.font-text{
    font-size:16px;
    font-family: "Meiryo UI"
}